/*General Settings*/
body{
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px; 
}

/* Header Styles */
header{
	background-color: #020724;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}

header h1{
	font-size: 75px;
	color: white;
}

header img{
    border-radius: 450px;
    width: 650px;
    border: 10px solid #FB2943;
 }

/* Main Body */
 main{
 	max-width: 900px;
 	margin: 0 auto;
 	padding: 20px;
 }

 main img{
 	max-width: 100%;
 }

 h2{
 	font-size: 35px;
 	color: #020724;
 	margin: 10px 0 10px;
 }

/* Caption */
 p.caption{
	color: #09134eba;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 30px;   
}

a{
	color: #FB2943;
}

a:hover{
	color: #3f51b5;
}

/* Footer */
footer{
	background-color: #020724;
	text-align: center;
	color: white;
}

footer a{
	color: white;
}

footer a:hover{
	color: #3f51b5;
	opacity: 50%;
}
